.error {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  place-content: center;
  height: 100%;
}

.error span:first-child {
  color: var(--primary-red);
  font-weight: bold;
}

.error span {
  display: flex;
  flex-direction: column;
  align-items: center;
}
